* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d8d8d8;
}

/* Header,Logo,Count,Search */

header {
    background-color: #dfdfdf;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    margin: 10px auto;
}

.logo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
}


.count {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    margin-bottom: 40px;
    margin-top: 2rem;

}

.views,
.users {
    background-color: #C0B9B9;
    border: 1px solid transparent;
    padding: 7px 5px;
    font-size: medium;
    font-weight: bold;
}

.users span,
.views span {
    padding: 5px 5px;
    color: royalblue;
    font-weight: bolder;
    font-size: larger;
}

.searchbox {
    width: 360px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.submit {
    background-color: rgb(58, 56, 56);
    color: beige;
    border: 2px solid transparent;
    border-radius: 4px;
    width: 113px;
    height: 40px;
    font-family: Roboto Condensed;
    font-size: 17px;
    font-weight: bold;
}

.submit a {
    text-decoration: none;
    color: beige;
}

.submit:hover,
.submit a:hover {
    color: rgb(255, 0, 0);
    outline: none;
    background: rgb(39, 39, 39);
    transition: all 0.3s ease-out;
}

input {
    cursor: text;
    padding: 2px;
    border:2px solid grey;
    height: 39px;
    border-radius: 5px;
    width: 15rem;
}

.fa-search{
    position: absolute;
    top: 10px;
    right: 10px;
}
/* NavBar */

nav {
    background-color: #444343;
    width: 90vw;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 55px;
    border: 1px solid transparent;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav li {
    text-decoration: none;
    list-style: none;
    display: inline;
    background: #3A3838;
    padding: 7px 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-left: 6px;
    font-size: medium;
    font-weight: bolder;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color: rgb(88, 64, 224);
}

/* Line Decoration */
hr {
    height: 10px;
    width: 90vw;
    background-color: #D2D3D2;
    margin: 7px auto;
    border: 1px solid transparent;
    border-radius: 10px;
}

/* Main Documents */
/* Section-1 & Section-3 */


.section1 {
    background-color: #C0B9B9;
    width: 90vw;
    margin: 7px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.box1 img {
    margin-bottom: 20px;
}

.box1 h2 {
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    margin-bottom: 20px;
}

.box1 h3 {
    font-family: Georgia, Times, Times New Roman, serif;
    font-weight: normal;
    color: rgb(93, 93, 93);
    cursor: pointer;
    margin-bottom: 20px;
}

.box1 h4 {
    margin: 20px 0;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 14px;

}

.top,
.middle,
.bottom {
    margin-bottom: 20px;

}

.top img,
.middle img,
.bottom img {
    float: left;
    margin-right: 7px;
    margin-top: -9px;

}

.top h3,
.middle h3,
.bottom h3 {
    font-family: Georgia, Times, Times New Roman, serif;
    font-weight: normal;
    color: rgb(93, 93, 93);
    cursor: pointer;
}

.box3 img {
    margin-bottom: 20px;
}

.box3 h2 {
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    margin-bottom: 20px;
}

.box3 h3 {
    font-family: Georgia, Times, Times New Roman, serif;
    font-weight: normal;
    color: rgb(93, 93, 93);
    cursor: pointer;
    margin-bottom: 20px;
}

.box3 h4 {
    margin: 20px 0;
}

.box3 a {
    text-decoration: none;
    color: black;
    font-style: italic;
}

.box3 a:hover {
    color: #40DFCB;
}

/* Section 2  */
.section2 {
    width: 90vw;
    margin: 0 auto;
}

.section2 img{
    width: 90vw;
}

/* Footer */
footer {
    background-color: #383838;
    width: 90vw;
    margin: 0 auto;
    height: 230px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 100px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav li {
    text-decoration: none;
    list-style: none;
    display: inline;
    padding: 10px 15px;
}

.nav li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav li a:hover {
    color: turquoise;
}

.social h5 {
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
    margin-right: 30px;
}

.social a {
    padding-top: 21px;
    text-align: center;
    text-decoration: none;
    color: #FFEBCD;
    border: 1px solid transparent;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.copyright a {
    cursor: pointer;
}

.copyright a:hover {
    color: turquoise;
}

.fa-facebook-f {
    background-color: #3B55A0;
    text-shadow: 0 -1px 0 #354C8C;
}

.fa-facebook-f:hover {
    background-color: #3A4F7B;
}

.fa-twitter {
    background-color: #55ACEE;
}

.fa-twitter:hover {
    background-color: #4C89B7;
}

.fa-google {
    background-color: #B23838;
}

.fa-google:hover {
    background-color: #932F2F;
}

.fa-rss {
    background-color: #FFA500;
}

.fa-rss:hover {
    background-color: #C38411;
}

.fa-youtube {
    background-color: rgb(255, 0, 0);
}

.fa-youtube:hover {
    background-color: #C31111;
}

@media screen and (max-width:1200px){

    header{
        width:100vw;
    }
    .count{
        width: 300px;
    }

    .section1,nav,.section2{
        width: 95vw;
    }

    .section2 img{
        width: 95vw;
    }

    .section1{
        align-items: flex-start;
    }

    .section1 .box1{
        margin-top: 0px;
    }
    .box1 img{
        height: 10rem;
        width: 20rem;
    }

    .box1 h2{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .box2 h3{
          font-size: 1rem;
    }

    .section1 .box3 {
        margin-top: 0px;
    }
    .box3 img {
        height: 10rem;
        width: 20rem;
    }
    .box3 h2 {
        font-size: 1.2rem;
        margin-bottom: 0rem;
    }

    footer{
        width: 95vw;
    }  
}

@media screen and (min-width:769px) and (max-width:1023px){
    header{
        width:95vw;
    }

    .logo{
        font-size: 2.5rem;
    }

    .section1 {
        flex-direction: column;
        border: 2px solid black;
    }
    .section1 .box1{
        width: 90vw;
        margin: 0 auto;
    }
    .section1 .img{
        display: flex;
    }

    .section1 img{
        height: 15rem;
        margin-bottom: 0;
    }

    .section1 .text{
        margin-left: 3rem;
    }

    .box2{
        display: flex;
        flex-direction: row;
        padding: 2rem 0;
    }

    .box2 img{
        width: 6rem;
        height: 6rem;
    }
    .top{
        width: 39rem;   
    }
    .box2 h3 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:768px) {
    header {
        width: 100vw;
    }

    .logo {
        font-size: 1.5rem;
    }

    .searchbox{
        width: 10rem;
    }
    nav{
        width: 100vw;
    }
    .section1{
        width: 100vw;
    }
    .section1 {
        flex-direction: column;
    }

    .section1 .box1 {
        width: 98vw;
        margin: 0 auto;
    }

    .section1 .img {
        display: flex;
    }

    .section1 img {
        height: 15rem;
        margin-bottom: 0;
    }

    .section1 .text {
        margin-left: 3rem;
    }

    .box2 {
        display: flex;
        padding: 2rem 0;
    }

    .box2 img {
        width: 6rem;
        height: 5rem;
        padding-top: 0.5rem;
    }

    .top {
        width: 98vw;
    }
    .middle{
        width: 98vw;
    }
    .bottom{
        width: 98vw;
    }
    .box2 h3 {
        font-size: 1rem;
    }
    footer .copyright {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:600px) {

    header{
        padding: 0;
        justify-content: space-between;
        padding-right: 2rem;
    }
     .count{
         width: 100px;
     }

     nav li{
         font-size: 0.7rem;
         margin-left: 2px;
         
     }
    .box1 img{
        height: 13rem;
    }
    .box1 h2{
        font-size: 0.7rem;
    }
    .box1 h3{
        font-size: 0.7rem;
    }
    .box1 h4{
        font-size: 0.7rem;
    }
    .box1 .text{
        margin-left: 10px;
    }
    .box3 img {
        height: 13rem;
    }

    .box3 h2 {
        font-size: 0.7rem;
    }

    .box3 h3 {
        font-size: 0.7rem;
    }

    .box3 h4 {
       font-size: 0.7rem;
    }

    .box3 .text {
        margin-left: 10px;
    }
    footer .copyright {
        font-size: 0.8rem;
    }
    
}

@media screen and (max-width:500px) {

    header {
        padding: 0;
        justify-content: space-between;
        padding-right: 2rem;
    }

    .count {
        width: 100px;
    }

    .logo {
        font-size: 1rem;
        margin-right: 0;
    }

    nav li {
        font-size: 0.5rem;
        margin-left: 2px;
    }
    .count{
        width: 150px;
    }
    .views,.users{
        font-size: 0.8rem;
    }
    input{
        width: 8rem;
    }

    .fa-search{
        right: 0px;
    }
    footer .copyright {
        font-size: 0.7rem;
    }
}